@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.font-family {
    font-family: 'Asul', serif;
    font-family: 'Nunito', sans-serif;  
}

.my-style {
    margin-Left: 60px;
    margin-top: 20px;
    font-weight: 700;
    display: flex;
    gap: 8px;
    position: relative;
    font-size: 20px;
    width: 250px;

}

.search-btn {
    position: absolute;
    right: 0;
    top: 0px;
}
.right-sec {
  width: 80%;
  margin-top: 40px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.c-card-sec {
    width: 100%;
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.left-sec{
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border-right: 1px solid gray;
  padding-right: 20px;
}
.card-price{
  color: #101010;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    height: fit-content;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 8px;
}

.card-subtitle {
    text-transform: uppercase;
    text-align: start;
    font-weight: 600;
    color: #DE3163!important;
}

.pagecontainer {
    padding-top: 500px;
}
.btn-sec{
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.btn-success {
    background-color: #DE3163;
    border: #DE3163;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-success:hover {
    background-color: #DE3163;
}
.photo{
    border-bottom: 1px solid #101010;
}

.card-title {
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: gray;
}
.card-text{
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 1.2;
}
.icon-btn i{
    font-size: 16px;
    color: #DE3163;
}
.icon-btn{
    color: #DE3163 !important;
}



/* About us page */

.about-us-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .about-us-container h2 {
    color: #333;
    text-align: center;
  }
  
  .about-us-container h3 {
    color: #555;
  }
  
  p {
    line-height: 1.6;
    color: #666;
  }
  
  .about-us-container .closing-statement {
    font-style: italic;
    margin-top: 20px;
    color: #888;
    text-align: center;
  }
  
  /* Add some spacing between sections */
  .about-us-container h2,
  h3,
  p {
    margin-bottom: 20px;
  }
  
  /* Style the headings differently */
  .about-us-container h2 {
    font-size: 28px;
  }
  
  .about-us-container h3 {
    font-size: 24px;
  }
  
  /* Style the paragraphs */
  .about-us-container p {
    font-size: 16px;
  }
  
  /* Style links */
  .about-us-container a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .about-us-container a:hover {
    color: #0056b3;
  }

  .fTnLhc{
    background-color: #DE3163!important;
  }

  .slider-img{
    width: 100%;
    display: block;
    height: 60vh;
    object-fit: cover;
    border-radius: 25px;
  }
  .carousel-item{
    border-radius: 25px;
  }
  .carousel-control-prev, .carousel-control-next{
    width: 40px!important;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    border: 2px solid black;
    background-color: #DE3163;
  }
  .carousel-control-next-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }
  .carousel-control-prev-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .card a, .card a:hover {
    color: white;
    text-decoration: none;
  }
  .product-main-sec{
    display: flex;
    gap: 40px;
  }

  .filter-input-sec{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
  }
  .form-check{
    display: flex;
    cursor: pointer !important;
  }
  .label-wrapper{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .color-circle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }


  /* product description-page */
  .product-description-main{
    display: flex;
  }
  .product-image-slider{
    display: flex;
  }
